{% extends "base.html" %}
{% load staticfiles %}
{% block title %}我要送礼{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
			{% if status == 'success' %}
				<div class="well">
					<h2 class="text-success text-center">成功添加朋友</h2>
				</div>
			{% elif status == 'error' %}
				<div class="well">
					<h2 class="text-warning text-center">没有找到正确的电话号码</h2>
				</div>
			{% endif %}
			<form method="POST" role="form" class="form-horizontal" name="mobileform"  onSubmit="return checkMobile();">
				{% csrf_token %}
               <input type="hidden" name="f_id" id="f_id" value="{{person.id}}" />
				<h1 class="form-signin-heading text-center">我要送礼</h1>

				<div class="form-group">
					<label for="id_f_name" class="col-md-3 control-label">姓名：</label>
					<div class="col-md-9">
						<input type="text" class="form-control" id="id_f_name" required name="f_name" autofocus>
					</div>	
				</div>

				<div class="form-group">
					<label for="id_f_tel" class="col-md-3 control-label">电话：</label>
					<div class="col-md-9">
						<input type="text" class="form-control" required name="f_tel" id="id_f_tel">
					</div>
				</div>

				<div class="form-group">
					<label for="id_f_gift" class="col-md-3 control-label">礼品：</label>
					<div class="col-md-9">
						<input type="text" class="form-control" required name="f_gift" id="id_f_gift">
					</div>
				</div>

				<div class="form-group">
					<label for="id_remarks" class="col-md-3 control-label">备注：</label>
					<div class="col-md-9">
						<input type="text" class="form-control" required name="f_remarks" id="id_f_remarks" value=" ">
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-4 col-md-offset-4">
						<button class="btn btn btn-primary btn-block" type="submit">提交</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
function checkMobile(){
    var sMobile = document.mobileform.id_f_tel.value
    if(!(/^0?(13[0-9]|15[012356789]|17[0678]|18[0-9]|14[57])[0-9]{8}$/.test(sMobile))){
        alert("不是完整的11位手机号或者正确的手机号前七位");
        document.mobileform.id_f_tel.focus();
        return false;
    }
}
</script>

{% endblock %}