{% extends "base.html" %}
{% load staticfiles %}
{% block title %}应聘人员登记表{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			{% if status == 'success' %}
				<div class="well">
					<h2 class="text-success text-center">添加成功</h2>
				</div>
			{% endif %}
			<form method="POST" action="/education/" role="form" class="form-horizontal">
				{% csrf_token %}
				<h1 class="form-signin-heading text-center">教育培训背景</h1>

                <div class="form-group">
					<label for="id_job" class="col-md-2 control-label">应聘职位:</label>
					<div class="col-md-2">
						<input type="text" class="form-control" id="id_job" required name="job" autofocus>
					</div>
                    <label for="id_f_name" class="col-md-4 control-label"> </label>
                    <label for="id_form_date" class="col-md-2 control-label">填表日期:</label>
					<div class="col-md-2">
						<input type="text" class="form-control" id="id_form_date" required name="form_date" autofocus>
					</div>
				</div>

                 <div class="form-group">
					<label for="id_edu_start" class="col-md-1 control-label">入学时间:</label>

                    <label for="id_edu_end" class="col-md-1 control-label">毕业时间:</label>

                     <label for="id_college" class="col-md-3 control-label">毕业院校:</label>

                     <label for="id_professional" class="col-md-2 control-label">专业:</label>

                     <label for="id_education" class="col-md-1 control-label">学历:</label>

                     <label for="id_nature" class="col-md-1 control-label">性质:</label>

                      <label for="id_mark" class="col-md-3 control-label">备注:</label>

				</div>

                <div class="form-group">
					<div class="col-md-1">
						<input type="date" class="form-control" id="id_edu_start" required name="edu_start" autofocus>
					</div>

					<div class="col-md-1">
						<input type="date" class="form-control" id="id_edu_end" required name="edu_end" autofocus>
					</div>

					<div class="col-md-2">
						<input type="text" class="form-control" id="id_college" required name="college" autofocus>
					</div>

					<div class="col-md-2">
						<input type="text" class="form-control" id="id_professional" required name="professional" autofocus>
					</div>

					<div class="col-md-2">
						<select class="form-control" name="education" id="id_education">
                            <option>中专</option>
                            <option>大专</option>
                            <option>本科</option>
                            <option>硕士</option>
                        </select>

					</div>

					<div class="col-md-1">
						<input type="text" class="form-control" id="id_nature"  name="nature" autofocus>
					</div>

					<div class="col-md-3">
						<input type="text" class="form-control" id="id_mark"  name="mark" autofocus>
					</div>
				</div>

                 <div class="form-group">
					<div class="col-md-1">
						<input type="date" class="form-control" id="id_edu_start" required name="edu_start" autofocus>
					</div>

					<div class="col-md-1">
						<input type="date" class="form-control" id="id_edu_end" required name="edu_end" autofocus>
					</div>

					<div class="col-md-2">
						<input type="text" class="form-control" id="id_college" required name="college" autofocus>
					</div>

					<div class="col-md-2">
						<input type="text" class="form-control" id="id_professional" required name="professional" autofocus>
					</div>

					<div class="col-md-2">
						<select class="form-control" name="education" id="id_education">
                            <option>中专</option>
                            <option>大专</option>
                            <option>本科</option>
                            <option>硕士</option>
                        </select>

					</div>

					<div class="col-md-1">
						<input type="text" class="form-control" id="id_nature"  name="nature" autofocus>
					</div>

					<div class="col-md-3">
						<input type="text" class="form-control" id="id_mark"  name="mark" autofocus>
					</div>
				</div>

                 <div class="form-group">
					<div class="col-md-1">
						<input type="date" class="form-control" id="id_edu_start"  name="edu_start" autofocus>
					</div>

					<div class="col-md-1">
						<input type="date" class="form-control" id="id_edu_end"  name="edu_end" autofocus>
					</div>

					<div class="col-md-2">
						<input type="text" class="form-control" id="id_college"  name="college" autofocus>
					</div>

					<div class="col-md-2">
						<input type="text" class="form-control" id="id_professional"  name="professional" autofocus>
					</div>

					<div class="col-md-2">
						<select class="form-control" name="education" id="id_education">
                            <option>中专</option>
                            <option>大专</option>
                            <option>本科</option>
                            <option>硕士</option>
                        </select>

					</div>

					<div class="col-md-1">
						<input type="text" class="form-control" id="id_nature"  name="nature" autofocus>
					</div>

					<div class="col-md-3">
						<input type="text" class="form-control" id="id_mark"  name="mark" autofocus>
					</div>
				</div>


                <div class="form-group">
					<div class="col-md-4 col-md-offset-4">
						<button class="btn btn btn-primary btn-block" type="submit">提交</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


{% endblock %}