{% extends "base.html" %}
{% load staticfiles %}
{% block title %}本周例会{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
        <div class="col-md-12">
        <h1 class="form-signin-heading text-center">所有人员信息登记</h1>

			<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>#</th>
                            <th>本周例会</th>
                            <th>提交时间</th>
							<th>开会时间</th>
                            <th>增加批注</th>

						</tr>
					</thead>
					<tbody>
						{% for weeks in weekmeeting %}
						<tr>
							<td>{{ forloop.counter }}</td>
							<td><a href="/viewmeeting/emplogyeeweekmeeting/?id={{weeks.id}}&pingyu={{ pingyu }}">{{ weeks.week }}</a></td>
							<td>{{ weeks.submitdate }}</td>
                            <td>{{ weeks.startweek }}</td>
                            <td><a href="/viewmeeting/updateweekmeeting/?id={{weeks.id}}">点评</a></td>
						</tr>
						{% empty %}
						<tr>
							<td>暂无记录</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

			</div>

	</div>
</div>



{% endblock %}