{% extends "base.html" %}
{% load staticfiles %}
{% block title %}查看学员详细资料{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			
			<div class="col-md-6 col-md-offset-1">
				<h2 class="text-center">{{menber.member_name}}</h2>
				<br>
				<h3>级别：{{member.member_typ}}</h3>
				<h3>店铺：{{member.member_store}}</h3>
				<h3>品牌：{{member.member_brand}}</h3>
				<h3>城市：{{member.member_city}}</h3>
				<h3>电话：{{member.member_tel}}</h3>
				<h3>地址：{{member.member_address}}</h3>
			</div>
		</div>
	</div>
</div>

{% endblock %}