{% extends "base.html" %}
{% load staticfiles %}
{% block title %}应聘人员变更{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			{% if status == 'success' %}
				<div class="well">
					<h2 class="text-success text-center">修改成功</h2>
				</div>
			{% endif %}
			<form method="POST"   role="form" class="form-horizontal">
				{% csrf_token %}
				<h1 class="form-signin-heading text-center">应聘人员登记表</h1>
               <input type="hidden" id="id_pid" name="pid" value="{{ personnel.id }}">

                <div class="form-group">
					<label for="id_job" class="col-md-2 control-label">应聘职位:</label>
					<div class="col-md-2">
						<input type="text"  class="form-control" readonly  value="{{ personnel.job }}"  >
					</div>
                    <label for="id_f_name" class="col-md-4 control-label"> </label>
                    <label for="id_form_date" class="col-md-2 control-label">填表日期:</label>
					<div class="col-md-2">
						<input type="text" class="form-control" readonly  value="{{ personnel.form_date }}" >
					</div>

				</div>
                 <div class="form-group">
					<label for="id_edu_start" class="col-md-2 control-label">人员信息变更:</label>
                      <div class="col-md-3">
						<select class="form-control" name="personnel_typ" id="id_personnel_typ">
                            <option value="面试" selected>面试</option>
                            <option value="试用">试用</option>
                            <option value="转正">转正</option>
                            <option value="店长">店长</option>
                            <option value="副店长">副店长</option>
                            <option value="运营">运营</option>
                        </select>
					</div>
				</div>




                <div class="form-group">
					<label for="id_evaluate" class="col-md-2 control-label">综合评估:</label>
					<div class="col-md-10">
						<textarea rows="6" cols="20" class="form-control" id="id_evaluate" required name="evaluate" autofocus>{{ personnel.evaluate }}</textarea>
					</div>
				</div>
                <div class="form-group">
					<div class="col-md-4 col-md-offset-4">
						<button class="btn btn btn-primary btn-block" type="submit">提交</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


{% endblock %}