{% extends "base.html" %}
{% load staticfiles %}
{% block title %}添加学员{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			{% if status == 'success' %}
				<div class="well">
					<h2 class="text-success text-center">添加成功</h2>
				</div>
			{% endif %}
			<form method="POST" role="form" class="form-horizontal">
				{% csrf_token %}
				<h1 class="form-signin-heading text-center">应聘人员登记表</h1>

                <div class="form-group">
					<label for="id_f_name" class="col-md-1 control-label">职位:</label>
					<div class="col-md-2">
						<input type="text" class="form-control" id="id_f_name" required name="f_name" autofocus>
					</div>
                    <label for="id_f_name" class="col-md-7 control-label">填表日期:</label>
					<div class="col-md-2">
						<input type="text" class="form-control" id="id_f_name" required name="f_name" autofocus>
					</div>
				</div>

                 <div class="form-group">
					<label for="id_f_name" class="col-md-1 control-label">姓名:</label>
					<div class="col-md-1">
						<input type="text" class="form-control" id="id_f_name" required name="f_name" autofocus>
					</div>

                    <label for="id_f_name" class="col-md-1 control-label">性别:</label>
					<div class="col-md-1">
						<input type="text" class="form-control" id="id_f_name" required name="f_name" autofocus>
					</div>

                     <label for="id_f_name" class="col-md-1 control-label">出生日期:</label>
					<div class="col-md-1">
						<input type="text" class="form-control" id="id_f_name" required name="f_name" autofocus>
					</div>

                     <label for="id_f_name" class="col-md-1 control-label">身高:</label>
					<div class="col-md-1">
						<input type="text" class="form-control" id="id_f_name" required name="f_name" autofocus>
					</div>

                     <label for="id_f_name" class="col-md-1 control-label">体重:</label>
					<div class="col-md-1">
						<input type="text" class="form-control" id="id_f_name" required name="f_name" autofocus>
					</div>

                     <label for="id_f_name" class="col-md-1 control-label">籍贯:</label>
					<div class="col-md-1">
						<input type="text" class="form-control" id="id_f_name" required name="f_name" autofocus>
					</div>
				</div>

                 <div class="form-group">
					<label for="id_f_name" class="col-md-1 control-label">性格:</label>
					<div class="col-md-1">
						<input type="text" class="form-control" id="id_f_name" required name="f_name" autofocus>
					</div>

                    <label for="id_f_name" class="col-md-1 control-label">民族:</label>
					<div class="col-md-1">
						<input type="text" class="form-control" id="id_f_name" required name="f_name" autofocus>
					</div>

                     <label for="id_f_name" class="col-md-1 control-label">婚姻状况:</label>
					<div class="col-md-1">
						<input type="text" class="form-control" id="id_f_name" required name="f_name" autofocus>
					</div>

                     <label for="id_f_name" class="col-md-1 control-label">手机:</label>
					<div class="col-md-1">
						<input type="text" class="form-control" id="id_f_name" required name="f_name" autofocus>
					</div>

                     <label for="id_f_name" class="col-md-1 control-label">特长:</label>
					<div class="col-md-1">
						<input type="text" class="form-control" id="id_f_name" required name="f_name" autofocus>
					</div>

                     <label for="id_f_name" class="col-md-1 control-label">文化程度:</label>
					<div class="col-md-1">
						<input type="text" class="form-control" id="id_f_name" required name="f_name" autofocus>
					</div>
				</div>

                 <div class="form-group">
					<label for="id_f_name" class="col-md-1 control-label">身份证:</label>
					<div class="col-md-2">
						<input type="text" class="form-control" id="id_f_name" required name="f_name" autofocus>
					</div>

                    <label for="id_f_name" class="col-md-1 control-label">何时到岗:</label>
					<div class="col-md-1">
						<input type="text" class="form-control" id="id_f_name" required name="f_name" autofocus>
					</div>

                     <label for="id_f_name" class="col-md-1 control-label">户口:</label>
					<div class="col-md-1">
						<input type="text" class="form-control" id="id_f_name" required name="f_name" autofocus>
					</div>

                     <label for="id_f_name" class="col-md-1 control-label">住址:</label>
					<div class="col-md-4">
						<input type="text" class="form-control" id="id_f_name" required name="f_name" autofocus>
					</div>

				</div>

                <label  class="col-md-12 control-label"><h3 class="form-signin-heading text-center">教育培训背景</h3></label>

                 <div class="form-group">
					<label for="id_f_name" class="col-md-1 control-label">入学时间:</label>

                    <label for="id_f_name" class="col-md-1 control-label">毕业时间:</label>

                     <label for="id_f_name" class="col-md-3 control-label">毕业院校:</label>

                     <label for="id_f_name" class="col-md-2 control-label">专业:</label>

                     <label for="id_f_name" class="col-md-1 control-label">学历:</label>

                     <label for="id_f_name" class="col-md-1 control-label">性质:</label>

                      <label for="id_f_name" class="col-md-3 control-label">备注:</label>

				</div>

                <div class="form-group">
					<div class="col-md-1">
						<input type="text" class="form-control" id="id_f_name" required name="f_name" autofocus>
					</div>

					<div class="col-md-1">
						<input type="text" class="form-control" id="id_f_name" required name="f_name" autofocus>
					</div>

					<div class="col-md-1">
						<input type="text" class="form-contro3" id="id_f_name" required name="f_name" autofocus>
					</div>

					<div class="col-md-1">
						<input type="text" class="form-contro2" id="id_f_name" required name="f_name" autofocus>
					</div>

					<div class="col-md-1">
						<input type="text" class="form-control" id="id_f_name" required name="f_name" autofocus>
					</div>

					<div class="col-md-1">
						<input type="text" class="form-control" id="id_f_name" required name="f_name" autofocus>
					</div>

					<div class="col-md-1">
						<input type="text" class="form-contro3" id="id_f_name" required name="f_name" autofocus>
					</div>
				</div>


			</form>
		</div>
	</div>
</div>


{% endblock %}