{% extends "base.html" %}
{% load staticfiles %}
{% block title %}添加学员{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
			{% if status == 'success' %}
				<div class="well">
					<h2 class="text-success text-center">添加成功</h2>
				</div>
			{% endif %}
			<form method="POST" role="form" class="form-horizontal">
				{% csrf_token %}
				<h1 class="form-signin-heading text-center">添加崇德书院学员</h1>

				<table class="table table-bordered">
   <caption>应聘人员登记表</caption>
   <thead>
      <tr>
         <th colspan="2" align="left">应聘职位：</th>
         <th>珠宝顾问</th>
         <th> </th>
         <th colspan="2" align="left">填表日期：</th>
         <th>2016-2-12</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>姓名</td>
         <td>Bangalore</td>
         <td>性别</td>
         <td>男</td>
         <td>出生日期</td>
         <td>&nbsp;</td>
         <td>560001</td>
      </tr>
       <tr>
         <td>体重</td>
         <td>Bangalore</td>
         <td>籍贯</td>
         <td>560001</td>
         <td>性格</td>
         <td>560001</td>
         <td>560001</td>
      </tr>
      <tr>
         <td>Tanmay</td>
         <td>Bangalore</td>
         <td>560001</td>
         <td>560001</td>
         <td>560001</td>
         <td>560001</td>
         <td>560001</td>
      </tr>
       <tr>
         <td>Tanmay</td>
         <td>Bangalore</td>
         <td>560001</td>
         <td>560001</td>
         <td>560001</td>
         <td>560001</td>
         <td>560001</td>
      </tr>
       <tr>
         <td>Tanmay</td>
         <td>Bangalore</td>
         <td>560001</td>
         <td>560001</td>
         <td>560001</td>
         <td>560001</td>
         <td>560001</td>
      </tr>
       <tr>
         <td>Tanmay</td>
         <td>Bangalore</td>
         <td>560001</td>
         <td>560001</td>
         <td>560001</td>
         <td>560001</td>
         <td>560001</td>
      </tr>

   </tbody>
</table>
			</form>
		</div>
	</div>
</div>


{% endblock %}