{% extends "base.html" %}
{% load staticfiles %}
{% block title %}会议记录{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			{% if status == 'success' %}
				<div class="well">
					<h2 class="text-success text-center">修改成功</h2>
				</div>
			{% endif %}
			<form method="POST"   role="form" class="form-horizontal">
				{% csrf_token %}

				<h1 class="form-signin-heading text-center">新增会议记录</h1>
                <br /><br /><br /><br /><br />
               <input type="hidden" id="id_pid" name="pid" value="{{ updatemeeting.id }}">

                <div class="form-group">
					<label for="id_job" class="col-md-2 control-label">部门&姓名:</label>
					<div class="col-md-2">
						<input type="text"  class="form-control" readonly  value="{{ updatemeeting.employee }}"  >
					</div>
                    <label for="id_job" class="col-md-4 control-label"></label>
                    <label for="id_form_date" class="col-md-2 control-label">开会日期:</label>
					<div class="col-md-2">
						<input type="date" class="form-control"  name="startweek" id="id_startweek" >
					</div>

				</div>

                <div class="form-group">
					<label for="id_evaluate" class="col-md-2 control-label">会议记录:</label>
					<div class="col-md-10">
						<textarea rows="6" cols="20" class="form-control"  id="id_meeting" required name="meeting" autofocus>{{ weekmeeting.meeting }}</textarea>
					</div>

				</div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2 alert alert-success" role="alert">
                        <strong>温馨提示!</strong> 会议记录可以反复修改，修改后刷新显示最新修改内容
                    </div>
                </div>
                <div class="form-group">
					<div class="col-md-4 col-md-offset-4">
						<button class="btn btn btn-primary btn-block" type="submit">提交</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


{% endblock %}