{% extends "base.html" %}
{% load staticfiles %}
{% block title %}全部会员{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>会员名</th>
							<th>姓名</th>
                            <th>电话</th>
                            <th>权限</th>
							<th>注册日期</th>
						</tr>
					</thead>
					<tbody>
						{% for menber in memberlist %}
						<tr>
							<td>{{ forloop.counter }}</td>
							<td>{{ menber.user }}</td>
							<td>{{ menber.membername }}</td>
                            <td>{{ menber.membertel }}</td>
                            <td>{{ member.permission }}</td>
                            <td>{{ menber.regDate }}</td>
						</tr>
						{% empty %}
						<tr>
							<td>暂无会员</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
        <nav>
					<ul class="pager">
						{% if memberlist.has_previous %}
							<li class="previous"><a href="?page={{ memberlist.previous_page_number }}">上一页</a></li>
						{% else %}
							<li class="previous disabled"><a href="#">上一页</a></li>
						{% endif %}
						第 {{ memberlist.number }} / {{ memberlist.paginator.num_pages }}页
						{% if memberlist.has_next %}
							<li class="next"><a href="?page={{ memberlist.next_page_number }}">下一页</a></li>
						{% else %}
							<li class="next disabled"><a href="#">下一页</a></li>
						{% endif %}
					</ul>
				</nav>
		</div>
	</div>
</div>


{% endblock %}