{% extends "base.html" %}
{% load staticfiles %}
{% block title %}参加周例会的部门及人员汇总{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
        <div class="col-md-12">
        <h1 class="form-signin-heading text-center">参加周例会的部门及人员汇总</h1>

		<div class="col-md-10">

			<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>#</th>
                            <th>部门</th>
                            <th>姓名</th>
                            <th>周例会</th>
                            <th>例会记录</th>
						</tr>
					</thead>
					<tbody>
						{% for depart in departments %}
                         {% if user.membername != depart.leader %}
						<tr>
							<td>{{ forloop.counter }}</td>
                            <td><strong>{{ depart.depart_name }}</strong></td>
							<td>{{ depart.leader }}</td>
                            <td><button class="btn btn-primary btn-sm btn-block disabled" type="button">禁止提交</button></td>
                            <td><a href="/viewmeeting/beforemeeting/?name={{depart.leader}}" target="_blank"><button class="btn btn-primary btn-sm btn-block" type="button">例会(2个月)</button></a></td>
						</tr>
                             {% else %}
                            <tr>
                            <td>{{ forloop.counter }}</td>
                                <td><strong>{{ depart.depart_name }}</strong></td>
							<td>{{ depart.leader }}</td>
                            <td><a href="/viewmeeting/addweekmeeting/?name={{depart.leader}}" target="_blank"><button class="btn btn-primary btn-sm btn-block" type="button">提交</button></a></td>
                            <td><a href="/viewmeeting/beforemeeting/?name={{depart.leader}}" target="_blank"><button class="btn btn-primary btn-sm btn-block" type="button">例会(2个月)</button></a></td>
                            </tr>
                            {% endif %}
						{% empty %}
						<tr>
							<td>暂无记录</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

			</div>
		</div>

	</div>
</div>



{% endblock %}