{% extends "base.html" %}
{% load staticfiles %}
{% block title %}签到记录{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-9 col-md-offset-1">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>姓名</th>
							<th>签到心情</th>
							<th>签到日期</th>
                            <th>课程</th>
						</tr>
					</thead>
					<tbody>
						{% for sign in sign_list %}
						<tr>
							<td>{{ forloop.counter }}</td>
							<td>{{ user.menber_name }}</td>
							<td>{{ sign.mood }}</td>
                            <td>{{ sign.sign_date }}</td>
                            <td></td>
						</tr>
						{% empty %}
						<tr>
							<td>暂无签到记录</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<nav>
					<ul class="pager">
						{% if sign_list.has_previous %}
							<li class="previous"><a href="?page={{ sign_list.previous_page_number }}">上一页</a></li>
						{% else %}
							<li class="previous disabled"><a href="#">上一页</a></li>
						{% endif %}
						第 {{ sign_list.number }} / {{ sign_list.paginator.num_pages }}页
						{% if sign_list.has_next %}
							<li class="next"><a href="?page={{ menber_list.next_page_number }}">下一页</a></li>
						{% else %}
							<li class="next disabled"><a href="#">下一页</a></li>
						{% endif %}
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>


{% endblock %}