{% extends "base.html" %}
{% load staticfiles %}
{% block title %}所有员工资料汇总{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
        <div class="col-md-12">
        <h1 class="form-signin-heading text-center">员工资料汇总</h1>
			<div class="col-md-2">
				<div class="list-group">
					<a href="/viewmeeting/" class="list-group-item" id="id_typ_all" >
						全部人员
					</a>
					{% for depart in departments %}
					<a href="/viewmeeting?id={{depart.id}}" class="list-group-item" id="id_typ_{{depart.id}}">
						{{ depart.depart_name }}
					</a>
					{% endfor %}
				</div>
				<script type="text/javascript">
				    var act_typ = document.getElementById("id_typ_{{Id}}");
				    var new_class = act_typ.getAttribute("class") + " active"
				    act_typ.setAttribute("class",new_class);
				</script>
			</div>
		<div class="col-md-10">

			<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>#</th>
                            <th>姓名</th>
                            <th>职位</th>
							<th>电话</th>
                            <th>本周例会</th>
                            <th>往期例会</th>
                            <th>信息修改</th>
						</tr>
					</thead>
					<tbody>
						{% for employee in employee_list %}
						<tr>
							<td>{{ forloop.counter }}</td>
							<td>{{ employee.name }}</td>
							<td>{{ employee.job }}</td>
                            <td>{{ employee.tel }}</td>
                            <td><a href="/viewmeeting/employeemeeting/?id={{employee.id}}" target="_blank">本期周例会</a></td>
                            <td><a href="/viewmeeting/beforemeeting/?id={{employee.id}}" target="_blank">往期例会(2个月)</a></td>
                            <td><a href="/viewmeeting/modifymeeting/?id={{employee.id}}">修改</a></td>

						</tr>
						{% empty %}
						<tr>
							<td>暂无记录</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

			</div>
		</div>

	</div>
</div>



{% endblock %}