{% extends "base.html" %}
{% load staticfiles %}
{% block title %}查看学员详细资料{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
        <div class="col-md-12">
        <h1 class="form-signin-heading text-center">所有人员信息登记</h1>
			<div class="col-md-2">
				<div class="list-group">
					<a href="/viewEmployee/" class="list-group-item" id="id_typ_all" >
						全部人员
					</a>
					{% for depart in departments %}
					<a href="/viewEmployee?id={{depart.id}}" class="list-group-item" id="id_typ_{{depart.id}}">
						{{ depart.depart_name }}
					</a>
					{% endfor %}
				</div>
				<script type="text/javascript">
				    var act_typ = document.getElementById("id_typ_{{depart_id}}");
				    var new_class = act_typ.getAttribute("class") + " active"
				    act_typ.setAttribute("class",new_class);
				</script>
			</div>
		<div class="col-md-10">
				<div class="col-md-4 col-md-offset-8">
					<form role="form" method="post" name="search_form">
						{% csrf_token %}
						<input type="search" class="form-control" name="keywords" placeholder="Enter keywords to search" id="id_search_input" onkeyup="whenkeyup()" autofocus="True">
					</form>
				</div>
				<script type="text/javascript">
					function whenkeyup () {
						var oldvalue = document.getElementById('id_search_input').value
						setTimeout(function(){
							var newvalue = document.getElementById('id_search_input').value
							if (oldvalue == newvalue) {
								document.search_form.submit();
							};
						},1500);
					}
				</script>
			<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>#</th>
                            <th>姓名</th>
                            <th>部门</th>
							<th>手机</th>
                            <th>修改</th>
						</tr>
					</thead>
					<tbody>
						{% for employee in employee_list %}
						<tr>
							<td>{{ forloop.counter }}</td>
							<td><a href="/viewpersonnels/personnel_detail/?id={{employee.id}}">{{ employee.name }}</a></td>
							<td>{{ employee.department }}</td>
                            <td>{{ employee.tel }}</td>
                            <td><a href="/viewpersonnels/modify_typ/?id={{personnel.id}}">修改</a></td>

						</tr>
						{% empty %}
						<tr>
							<td>暂无应聘人员</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

				<nav>
					<ul class="pager">
						{% if employee_list.has_previous %}
							<li class="previous"><a href="?personnel_typ={{ employee_type }}&page={{ employee_list.previous_page_number }}">上一页</a></li>
						{% else %}
							<li class="previous disabled"><a href="#">上一页</a></li>
						{% endif %}
						第 {{ employee_list.number }} / {{ employee_list.paginator.num_pages }}页
						{% if employee_list.has_next %}
							<li class="next"><a href="?status={{ employee_type }}&page={{ employee_list.next_page_number }}">下一页</a></li>
						{% else %}
							<li class="next disabled"><a href="#">下一页</a></li>
						{% endif %}
					</ul>
				</nav>
			</div>
		</div>

	</div>
</div>



{% endblock %}