{% extends "base.html" %}
{% load staticfiles %}
{% block title %}注册{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			{% if status == 'success' %}
				<div class="well">
					<h2 class="text-success text-center">周总结&计划添加成功！</h2>
				</div>
			{% elif status == 're_err' %}
				<div class="well">
					<h2 class="text-warning text-center">请重新提交</h2>
				</div>
			{% endif %}
			<form method="POST" role="form" class="form-horizontal">
				{% csrf_token %}
				<h1 class="form-signin-heading text-center">部门工作推进表</h1>
                <br /><br /><br />
				<div class="form-group">
					<label for="id_user_name" class="col-md-2 control-label">部门：</label>
					<div class="col-md-2">
						<input type="text" class="form-control" value="{{ user.partment }}" autofocus>
					</div>
                    <label for="id_user_name" class="col-md-2 control-label">姓名：</label>
					<div class="col-md-2">
						<input type="text" class="form-control"  value="{{ user.menber_name  }}">
					</div>
                    <label for="id_week" class="col-md-2 control-label">第几周：</label>
					<div class="col-md-2">
					    <select class="form-control" name="week" id="id_week" >
                            <option value="0" selected>请选择第几周</option>
                            <option value="第一周">第一周</option>
                            <option value="第二周">第二周</option>
                            <option value="第三周">第三周</option>
                            <option value="第四周">第四周</option>
                        </select>
					</div>
				</div>

				<div class="form-group">
					<div class="panel panel-primary">
                        <div class="panel-heading">图解CSS3</div>
	<div class="panel-body">详细讲解了选择器、边框、背景、文本、颜色、盒模型、伸缩布局盒模型、多列布局、渐变、过渡、动画、媒体、响应Web设计、Web字体等主题下涵盖的所有CSS3新特性</div>
	<div class="panel-footer">作者：大漠</div>
                    </div>
                   <div class="panel panel-success">
                       <div class="panel-heading">图解CSS3</div>
	<div class="panel-body">详细讲解了选择器、边框、背景、文本、颜色、盒模型、伸缩布局盒模型、多列布局、渐变、过渡、动画、媒体、响应Web设计、Web字体等主题下涵盖的所有CSS3新特性</div>
	<div class="panel-footer">作者：大漠</div>
                   </div>
				</div>
                <div class="form-group">
                    <label for="id_partment" class="col-md-3 control-label">所属部门：</label>
                    <div class="col-md-9">
					<select class="form-control" name="partment" id="id_partment" >
                            <option value="0" selected>请选择部门</option>
                            <option value="投资部">投资部</option>
                            <option value="市场部">市场部</option>
                            <option value="财务部">财务部</option>
                            <option value="电商部">电商部</option>
                            <option value="人事部">人事部</option>
                            <option value="门店">门店</option>
                            <option value="书院">书院</option>
                           <option value="总经理">总经理</option>
                          <option value="董事长">董事长</option>
                        </select>
                    </div>
				</div>


				<div class="form-group">
					<label for="id_passwd" class="col-md-3 control-label">密码：</label>
					<div class="col-md-9">
						<input type="password" class="form-control" required name="passwd" id="id_passwd">
					</div>
				</div>

				<div class="form-group">
					<label for="id_repasswd" class="col-md-3 control-label">重复密码：</label>
					<div class="col-md-9">
						<input type="password" class="form-control" required name="repasswd" id="id_repasswd">
					</div>	
				</div>
                <div class="form-group">
					<label for="id_email" class="col-md-3 control-label">电子邮件：</label>
					<div class="col-md-9">
						<input type="email" class="form-control" required name="email" id="id_email">
					</div>
				</div><div class="form-group">
					<label for="id_menber_tel" class="col-md-3 control-label">电话：</label>
					<div class="col-md-9">
						<input type="text" class="form-control" required name="menber_tel" id="id_menber_tel">
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-4 col-md-offset-4">
						<button class="btn btn btn-primary btn-block" type="submit" id="id_submit">注册</button>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>

{% endblock %}