{% extends "base.html" %}
{% load staticfiles %}
{% block title %}各个部门周列会推进表{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			{% if status == 'success' %}
				<div class="well">
					<h2 class="text-success text-center">周总结&计划添加成功！</h2>
				</div>
			{% elif status == 're_err' %}
				<div class="well">
					<h2 class="text-warning text-center">请重新提交</h2>
				</div>
			{% endif %}
			<form method="POST" role="form" class="form-horizontal">
				{% csrf_token %}
				<h1 class="form-signin-heading text-center">部门工作推进表</h1>
                <br /><br /><br />

				<div class="form-group">
					<label for="id_user_name" class="col-md-1 control-label">部门：</label>
					<div class="col-md-2">
						<input type="text" class="form-control" name="department" id="id_department" value="{{ user.partment }}" autofocus>
					</div>
                    <label for="id_user_name" class="col-md-1 control-label">姓名：</label>
					<div class="col-md-2">
						<input type="text" class="form-control"  value="{{ user.menber_name  }}">
					</div>
                    <label for="id_week" class="col-md-2 control-label">第几周：</label>
					<div class="col-md-2">
					    <select class="form-control" name="week" id="id_week" >
                            <option value="0" selected>请选择第几周</option>
                            <option value="第一周">第一周</option>
                            <option value="第二周">第二周</option>
                            <option value="第三周">第三周</option>
                            <option value="第四周">第四周</option>
                        </select>
					</div>
                    <div class="col-md-2">
                    <button class="btn btn-success" type="button" id="but">添加总结</button>
                    </div>
				</div>
                <table class="table table-bordered" id="tab" >
                    <tr>
                       <td>上周工作内容</td>
                        <td>执行人</td>
                        <td>完成时间</td>
                        <td>完成效果</td>
                        <td>操作</td>
                   </tr>
               </table>
                 <div class="form-group" id="after">


					<label for="id_evaluate" class="col-md-5 col-md-offset-1 control-label">上周工作内容:</label>

                    <label for="id_last_exeperson" class="col-md-2 control-label">执行人：</label>

                     <label for="id_last_comletiontime" class="col-md-2 control-label">完成时间：</label>

                     <label for="id_passwd" class="col-md-2 control-label">完成效果：</label>

				</div>

				 <div class="form-group" id="txt1">
					<div class="col-md-5 col-md-offset-1" >
						<textarea rows="3" cols="12" placeholder="善于总结经验，发现问题，提出建议，提高业务水平" class="form-control input-sm" id="id_lastweek" required name="lastweek" autofocus></textarea>
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" required name="last_exeperson" value="{{ user.menber_name  }}" id="id_last_exeperson">
					</div>
					<div class="col-md-2">
						<input type="date" class="form-control" required name="last_comletiontime" id="id_last_comletiontime">
					</div>
                    <div class="col-md-2">
					    <select class="form-control" name="comletioneffect" id="id_comletioneffect" >
                            <option value="0" selected>请选择完成效果</option>
                            <option value="已完成">已完成</option>
                            <option value="未完成">未完成</option>
                            <option value="延续性">延续性</option>
                        </select>
					</div>
				</div>

                <div class="form-group" id="txt1">
					<label for="id_last_exeperson" class="col-md-2 control-label">执行人：</label>
					<div class="col-md-2">
						<input type="text" class="form-control" required name="last_exeperson" value="{{ user.menber_name  }}" id="id_last_exeperson">
					</div>
                    <label for="id_last_comletiontime" class="col-md-2 control-label">完成时间：</label>
					<div class="col-md-2">
						<input type="date" class="form-control" required name="last_comletiontime" id="id_last_comletiontime">
					</div>
                     <label for="id_passwd" class="col-md-2 control-label">完成效果：</label>
                    <div class="col-md-2">
					    <select class="form-control" name="comletioneffect" id="id_comletioneffect" >
                            <option value="0" selected>请选择完成效果</option>
                            <option value="已完成">已完成</option>
                            <option value="未完成">未完成</option>
                            <option value="延续性">延续性</option>
                        </select>
					</div>
				</div>

                 <div class="form-group">
					<label for="id_evaluate" class="col-md-2 control-label">本周工作内容:</label>
					<div class="col-md-10">
						<textarea rows="8" cols="20" placeholder="凡事预则立不预则废" class="form-control input-sm" id="id_nextweek" required name="nextweek" autofocus></textarea>

					</div>
				</div>

                <div class="form-group">
                    <label for="id_next_exeperson" class="col-md-3 control-label">执行人：</label>
                    <div class="col-md-2">
						<input type="text" class="form-control" required name="next_exeperson" value="{{ user.menber_name  }}" id="id_next_exeperson">
					</div>
                      <label for="id_next_comletiontime" class="col-md-2 control-label">完成时间：</label>
					<div class="col-md-2">
						<input type="date" class="form-control" required name="next_comletiontime" id="id_next_comletiontime">
					</div>

				</div>


				<div class="form-group">
					<div class="col-md-4 col-md-offset-4">
						<button class="btn btn btn-primary btn-block" type="submit" id="id_submit">提交</button>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
     $(document).ready(function(){
         //<tr/>居中
        $("#tab tr").attr("align","center");

       //增加<tr/>
        $("#but").click(function(){
           var _len = $("#tab tr").length;
            $("#tab").append("<tr id="+_len+" align='center'>"
                                +"<td width='30%'><textarea  name='desc"+_len+"' id='desc'></textarea></td>"
                                +"<td><input type='text' name='desc"+_len+"' id='desc' /></td>"
                                +"<td><input type='date' name='desc"+_len+"' id='desc' /></td>"
                                +"<td><input type='text' name='desc"+_len+"' id='desc' /></td>"
                                +"<td><a href=\'#\' onclick=\'deltr("+_len+")\'>删除</a></td>"
                            +"</tr>");
        })
    })

    //删除<tr/>
   var deltr =function(index)
    {
        var _len = $("#tab tr").length;
        $("tr[id='"+index+"']").remove();//删除当前行
      for(var i=index+1,j=_len;i<j;i++)
        {
            var nextTxtVal = $("#desc"+i).val();
           $("tr[id=\'"+i+"\']")
                .replaceWith("<tr id="+(i-1)+" align='center'>"
                                +"<td>"+(i-1)+"</td>"
                                +"<td>Dynamic TR"+(i-1)+"</td>"
                                +"<td><input type='text' name='desc"+(i-1)+"' value='"+nextTxtVal+"' id='desc'/></td>"
                                +"<td><a href=\'#\' onclick=\'deltr("+(i-1)+")\'>删除</a></td>"
                            +"</tr>");
        }

    }
</script>

{% endblock %}