{% extends "base.html" %}
{% load staticfiles %}
{% block title %}周列会推进表{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">

				<h1 class="form-signin-heading text-center">部门工作推进表</h1>
                <br /><br /><br />

				<div class="form-group">
					<label for="id_user_name" class="col-md-2 control-label">姓名&部门：</label>
					<div class="col-md-2">
						<input type="text" class="form-control" name="department" id="id_department" value="{{ weekmeeting.employee }}" autofocus>
					</div>
                    <label for="id_user_name" class="col-md-4 control-label"></label>
                    <label for="id_week" class="col-md-2 control-label">第几周：</label>
					<div class="col-md-2">
					    <input type="text" class="form-control" name="department" id="id_department" value="{{ weekmeeting.week }}" autofocus>
					</div>
				</div>
                <div class="form-group">
                    <div class="col-md-12  alert alert-success" role="alert">
                        <strong>上周工作总结</strong> 总结经验，发现问题。
                    </div>
                </div>


                 <div class="form-group">
                     <label for="id_edu_start" class="col-md-1 control-label">序号</label>

					<label for="id_edu_start" class="col-md-5 control-label">上周工作内容</label>

                    <label for="id_edu_end" class="col-md-2 control-label">执行人</label>

                     <label for="id_college" class="col-md-2 control-label">完成时间</label>

                     <label for="id_professional" class="col-md-2 control-label">完成效果</label>

				</div>
               {% for lastweek in lastsummary %}
                    <div class="form-group">
                        <label for="id_edu_start" class="col-md-1 control-label">{{ forloop.counter }}</label>

                        <label for="id_edu_end" class="col-md-5 control-label">{{ lastweek.lastweek }}</label>

                        <label for="id_college" class="col-md-2 control-label">{{ lastweek.last_exeperson }}</label>

                        <label for="id_professional" class="col-md-2 control-label">{{ lastweek.last_comletiontime }}</label>

                        <label for="id_professional" class="col-md-2 control-label">{{lastweek.comletioneffect}}</label>
                    </div>
              {% empty %}
						<label for="id_professional" class="col-md-2 control-label">暂无记录</label>
               {% endfor %}


                <div class="form-group">
                    <div class="col-md-12  alert alert-success" role="alert">
                        <strong>本周工作计划</strong>凡事预则立不预则废。
                    </div>
                </div>
                       <table class="table table-bordered" id="next" >
                            <tr>
                               <td>本周工作内容</td>
                                <td></td>
                                <td>执行人</td>
                                <td>完成时间</td>
                                <td>操作</td>
                           </tr>
                       </table>

				<div class="form-group">
					<div class="col-md-4 col-md-offset-4">
						<button class="btn btn btn-primary btn-block" type="submit" id="id_submit">提交</button>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>



{% endblock %}