{% extends "base.html" %}
{% load staticfiles %}
{% block title %}周列会推进表{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
				<h2 class="form-signin-heading text-center"><i><strong>{{ startmeeting.employee }}</strong></i>  上周工作总结及本周工作计划</h2>

                <br /><br />
           {% if status == 'error' %}
				<div class="well">
					<h2 class="text-success text-center">会议已经结束并记录，请移步以往会议记录</h2>
				</div>
			{% endif %}
				<div class="form-group">
                    <div class="col-md-2">

                    </div>
					<label for="id_user_name" class="col-md-4 control-label"></label>
					<label for="id_user_name" class="col-md-4 control-label"></label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" readonly  value="{{ startmeeting.submitdate|date:"Y年m月" }}{{ startmeeting.week }}">
                    </div>
				</div>

        <table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
                            <th>上周工作内容</th>
                            <th>执行人</th>
							<th>完成时间</th>
                            <th>完成效果</th>
						</tr>
					</thead>
					<tbody>
						 {% for lastweek in lastsummary %}
						<tr>
							<td >{{ lastweek.lastweek }}</td>
							<td width="150">{{ lastweek.last_exeperson }}</td>
                            <td width="100">{{ lastweek.last_comletiontime|date:"m月d日" }}</td>
                            <td  width="400px">{{lastweek.comletioneffect}}</td>

						</tr>
						{% empty %}
						<tr>
							<td>暂无记录</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

                       <table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
                            <th>本周工作内容</th>
                            <th>执行人</th>
							<th>完成时间</th>
						</tr>
					</thead>
					<tbody>
						 {% for plan in nextplan %}
						<tr>
							<td width="400px">{{ plan.nextweek }}</td>
							<td>{{ plan.next_exeperson }}</td>
                            <td>{{ plan.next_comletiontime|date:"m月d日" }}</td>
						</tr>
						{% empty %}
						<tr>
							<td>暂无记录</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

                <div class="form-group">
                    <div class="col-md-12  alert alert-danger" role="alert">
                        <strong>会议记录：</strong> {{ pingyu|linebreaksbr }}
                    </div>
                </div>

		</div>
	</div>
</div>


{% endblock %}